*.md
.github
.husky
.vscode
.yarn/cache
.yarn/install-state.gz
.dockerignore
.env*
.git*
./backup
./cli
./config
./documentation
./e2e
./data
base.env
dist
node_modules
tmp
mre*
docker-compose*
dev.Dockerfile
Dockerfile
LICENSE
