[submodule "loca"]
	path = loca
	url = https://github.com/camelaissani/loca.git
[submodule "emailer"]
	path = emailer
	url = https://github.com/microrealestate/emailer.git
[submodule "pdfgenerator"]
	path = pdfgenerator
	url = https://github.com/microrealestate/pdfgenerator.git
