[submodule "authenticator"]
	path = authenticator
	url = https://github.com/microrealestate/authenticator.git
[submodule "emailer"]
	path = emailer
	url = https://github.com/microrealestate/emailer.git
[submodule "pdfgenerator"]
	path = pdfgenerator
	url = https://github.com/microrealestate/pdfgenerator.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/microrealestate/frontend.git
[submodule "api"]
	path = api
	url = https://github.com/microrealestate/api.git
