name: Continuous Integration (CI)

on:
  push:
    branches:
      - master
  # pull_request:
  #   branches:
  #     - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - appname: gateway
            image: ghcr.io/${{ github.repository }}/gateway
            dockerfile: services/gateway/Dockerfile
          - appname: api
            image: ghcr.io/${{ github.repository }}/api
            dockerfile: services/api/Dockerfile
          - appname: tenantapi
            image: ghcr.io/${{ github.repository }}/tenantapi
            dockerfile: services/tenantapi/Dockerfile
          - appname: authenticator
            image: ghcr.io/${{ github.repository }}/authenticator
            dockerfile: services/authenticator/Dockerfile
          - appname: pdfgenerator
            image: ghcr.io/${{ github.repository }}/pdfgenerator
            dockerfile: services/pdfgenerator/Dockerfile
          - appname: emailer
            image: ghcr.io/${{ github.repository }}/emailer
            dockerfile: services/emailer/Dockerfile
          - appname: resetservice
            image: ghcr.io/${{ github.repository }}/resetservice
            dockerfile: services/resetservice/Dockerfile
          - appname: landlord-frontend
            image: ghcr.io/${{ github.repository }}/landlord-frontend
            dockerfile: webapps/landlord/Dockerfile
          - appname: tenant-frontend
            image: ghcr.io/${{ github.repository }}/tenant-frontend
            dockerfile: webapps/tenant/Dockerfile

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ matrix.image }}

      - name: Build and push to GitHub Container Registry
        uses: docker/build-push-action@v4
        # base path cannot be set at runtime: https://github.com/vercel/next.js/discussions/41769
        # only for landlord-fronted and tenant-frontend
        env:
          LANDLORD_BASE_PATH: /landlord
          TENANT_BASE_PATH: /tenant
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: '${{ matrix.image }}:${{ github.sha }}'
          labels: ${{ steps.meta.outputs.labels }}
          # base path cannot be set at runtime: https://github.com/vercel/next.js/discussions/41769
          build-args: |
            LANDLORD_BASE_PATH=${{ env.LANDLORD_BASE_PATH }}
            TENANT_BASE_PATH=${{ env.TENANT_BASE_PATH }}

  deploy_gateway:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/gateway-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/gateway:${{ github.sha }}

  deploy_authenticator:
    runs-on: ubuntu-latest
    needs: [build, deploy_gateway]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/authenticator-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/authenticator:${{ github.sha }}

  deploy_api:
    runs-on: ubuntu-latest
    needs: [build, deploy_authenticator]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/api-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/api:${{ github.sha }}

  deploy_pdfgenerator:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/pdfgenerator-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/pdfgenerator:${{ github.sha }}

  deploy_emailer:
    runs-on: ubuntu-latest
    needs: [build, deploy_pdfgenerator]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/emailer-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/emailer:${{ github.sha }}

  deploy_resetservice:
    runs-on: ubuntu-latest
    needs: [build, deploy_emailer]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/resetservice-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/resetservice:${{ github.sha }}

  deploy_tenantapi:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/tenantapi-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/tenantapi:${{ github.sha }}

  deploy_landlord_frontend:
    runs-on: ubuntu-latest
    needs: [build, deploy_tenantapi]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/landlord-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/landlord-frontend:${{ github.sha }}

  deploy_tenant_frontend:
    runs-on: ubuntu-latest
    needs: [build, deploy_landlord_frontend]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: '${{ secrets.DOKKU_URL}}/tenant-stage'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ghcr.io/${{ github.repository }}/tenant-frontend:${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    needs:
      [
        deploy_gateway,
        deploy_authenticator,
        deploy_api,
        deploy_tenantapi,
        deploy_pdfgenerator,
        deploy_emailer,
        deploy_resetservice,
        deploy_landlord_frontend,
        deploy_tenant_frontend,
      ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run tests
        env:
          GATEWAY_URL: ${{ secrets.GATEWAY_URL }}
          LANDLORD_APP_URL: ${{ secrets.LANDLORD_APP_URL }}
        run: |
          yarn
          yarn run e2e:ci
